#container {
    width: 960px;
    height: 600px;
    background-color: black;
    margin: 0 auto 0 auto;
    padding-top: 10px;
}

#banner{
    width: 940px;
    height: 100px;
    background: #f70004;
    margin: 0 10px;
}

nav{
    width: 150px;
    height: 350px;
    margin: 10px;
    background: purple;
    float: left;
}

section{
    width: 600px;
    height:350px;
    margin: 10px;
    background: yellow;
    float: left;
    padding-top: 10px;
}

aside{
    width: 150px;
    height: 350px;
    margin: 10px;
    background: purple;
    float: left;
}

#sitesonu{
    width: 940px;
    height: 100px;
    margin: 10px;
    background: green;
    float: left;
}

header#makale{
    width: 450px;
    height: 50px;
    margin: 0 auto;
    background: pink;
    float: none;
}

article.makale{
    width: 450px;
    height: 200px;
    margin: 10px auto;
    background:#a21243;
}

footer#makalesonu{
    width: 450px;
    height: 70px;
    background: #bc4550;
    margin: 10px auto;

}